<ion-header>
  <ion-toolbar>
    <div align="center" style="padding-top: 2%">
      <img src="../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding" (click)="navJuices()">
    <h2>All Juices</h2>
  </ion-card>
  <ion-card class="ion-padding">
    <div class="funFont">
      <h2>What is a cleanse?</h2>
      A cleanse is a period of time where you stop eating solid foods and replace them with fresh-pressed juices or
      vegetable broths. You also stop consuming caffeine, alcohol and any other toxins like cigarettes.
    </div>
  </ion-card>
  <ion-card class="ion-padding">
    <div class="funFont">
      <h2>Why Liquids?</h2>
      By juicing/creating broths with fruit and veggies you remove all of the fiber your body normally has to breakdown to
      access the nutrients inside. By drinking juice/broths you give your gut a break from all of this hard digestive
      work, while still providing plenty of nutrition. This gives your body the chance to redirect energy towards healing
      instead of digesting, cleanses the colon of any stuck particles and floods the system with antioxidants.
    </div>
  </ion-card>
  <ion-card class="ion-padding">
    <div class="funFont">
      <h2>Collection and Delivery Info</h2>
      All juices will be ready to collect by 7.30am and must be collected before 8am. Please understand that we are
      extremely busy in the mornings and we really appreciate it when you collect before the mad rush hits.
      <ul>
        <li>Deliveries will be made between 7.30 and 8.30am.</li>
        <br>
        <li>For the longer cleanses, juices must be collected every 3 days, as we don’t use any preservatives. Doing
          things this way also means that the juices don’t oxidize as much, ensuring maximum nutritional integrity.</li>
        <br>
        <li>BOTTLE RETURNS: As you probably know we’re committed to bottling all of our juices in glass to reduce the
          amount of plastic polluting our world. This can become pretty pricey and we really appreciate receiving our
          bottles back. We’ve recently introduced a bottle return loyalty card, which entitles you to one free juice or
          smoothie of your choice when you’ve returned 10 cleaned jars back to us. Please enquire in-store to receive this
          card.</li>
        <br>
        <li>Please bring your own bag with which to collect the juices.</li>
        <br>
        <li>It is imperitive that you begin the cleanse on the day it is collected/delivered, as the juices contain no
          preservatives and will go off if left in the fridge for more than 2-days.</li>
      </ul>
    </div>
  </ion-card>
</ion-content>