<ion-header>
  <ion-toolbar>
    <ion-icon (click)="navToCart()" name="arrow-back"></ion-icon>
    <ion-title>TERMS & CONDITIONS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ol>
    <li>PAYMENT</li>
    <p>
      An order will be processed on full payment. An agreement is in place on
      full receipt of funds. All cancellations must be received no less than (3)
      working days before your start date. Cancellations may be made via our
      website or once specifically accepted by a member of our team, via email
      or telephone and you receive written confirmation thereof. Cancellations
      shall include any postponement of a booking to a different date and
      changing the type of cleanse booked or the number of participants. Please
      see our Ordering Policy for further details on order and cancellation
      deadlines. No refunds will be made after a cleanse program has started.
      Please note that we reserve the right to change prices with prior notice.
      We accept payment by electronic fund transfer. Your booking is not
      confirmed until we have received payment.
    </p>
  </ol>
  <ol>
    <li>CANCELLATIONS</li>
    <p>
      All cancellations must be received no less than (3) working days before
      your start date. Due to the nature of our business, we regret that we
      cannot offer refunds or credits for cancellations after this time.
      Cancellation must be made in writing by the person who made the original
      booking.
    </p>
  </ol>
  <ol>
    <li>PRICING</li>
    <p>
      All juices prices are reflected at current prices. All prices shown are
      valid per person per individual arrangement. With the nature of produce
      and currency fluctuations changes are frequent and unpredictable. We do
      our best to keep our prices constant as published. From time to time we
      may have to adjust our pricing to reflect significant cost changes on our
      operations side. Nourish’d Mind and Soul reserves the right to introduce
      promotions at any time. All bookings made prior to a promotion being
      introduced cannot be changed to that of the promotion.
    </p>
  </ol>
  <ol>
    <li>REFUNDS</li>
    <p>
      You must inspect your package as soon as possible after you have received
      it and notify us promptly if you find any defects by calling or emailing
      us using the contact details on our website. If you do not let us know
      within 3 (three) hours of delivery, of any such problems you will be
      deemed to have accepted the package and we will not refund or replace any
      item. Please note that we do not offer refunds on cleanses if you find
      that the cleanse was not for you or that you did not enjoy it. Refunds
      will only be arranged if the cleanse is found to be defective in the
      circumstances.
    </p>
    <ol>
      <li>
        NUTRITIONAL AND HEALTH INFORMATION
      </li>
      <li>
        Specific health or dietary requirements or objectives cannot be
        guaranteed. Please note that we may not be able to accommodate specific
        dietary needs and may refer you to your GP. There is no substitute for a
        private consultation with a qualified health professional to discuss
        your individual requirements. Please contact us if you would like a
        recommendation for a suitable professional.
      </li>
      <li>
        Nourish’d Mind and Soul products may not be suitable for everyone and
        our service should not be used by pregnant or breastfeeding women
        without medical supervision. If you have any concern, you are taking
        specific medication or have a medical condition please check with your
        doctor first.
      </li>
      <li>
        We regret that we are unable to deliver to those who have allergies that
        result in anaphylactic shock or diabetics who are insulin dependent.
      </li>
      <li>
        While the website and other information that we may send you provides
        general information on health and nutrition this does not in any way
        constitute medical advice and is not tailored to your specific
        requirements.
      </li>
      <li>
        Our juices are made in a kitchen that contains nuts. In ordering from us
        you acknowledge that we cannot be held responsible for any reaction that
        you may have to nuts or any other ingredient. If you do have a nut
        allergy you need to contact us in writing.
      </li>
      <li>
        If you have specific dietary requirements you may contact us to discuss
        these. We may be able to accommodate your requirements in whole or in
        part at our discretion on a case by case basis. However, we shall not be
        responsible in any way for failure to meet your requirements.
      </li>
      <li>
        Please note that our beetroot juices are high in iron and if you tend to
        have a low tolerance for iron please be aware of this. Consuming a high
        dose of iron, and having a slight intolerance to it, may cause you to
        feel nauseous or actually vomit. Please monitor how you feel and if you
        feel nauseous while consuming a beetroot juice have some nuts, biltong
        or health biscuits handy to have either before or after you drink it.
      </li>
      <li>
        We do not make any health claims about our products
      </li>
      <li>
        <b>
          WARRANTIES
        </b>
      </li>
    </ol>
  </ol>
  <p class="padding">
      While we try to ensure that material included on the website or any other
    material is correct, we cannot accept responsibility if, despite our
    endeavours, this is not the case due to any circumstances beyond our
    reasonable control. Without prejudice to your statutory rights, we may
    correct any inaccuracies and/or errors and we will not be responsible for
    any such inaccuracies and/or errors or for the results obtained from the use
    of such information.
  </p>

  <p class="padding">
      To the extent permitted by applicable law, Nourish’d Mind and Soul disclaims
    all warranties; expressed or implied, as to the accuracy of the information
    contained in any of the materials on this Web site and will accept no
    liability for any loss or damage arising as a result of problems with
    access.
  </p>
</ion-content>
