<ion-header>
  <ion-toolbar>
    <ion-title style="font-family:Comic sans MS,garamond,serif;font-size:24px;font-style:italic;float:left">Your Cart</ion-title>
    <ion-button slot="primary" expand="block" shape="round" (click)="clearCart()">
      Clear Cart
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of cartItems">
    <ion-card-content>
      <div *ngIf="item.variant.image != null">
        <img align="left" src="{{ item.variant.image.src }}" style="width:110px;height:110px;" />
      </div>
      <ion-card-header>
        <div align="right">
          <ion-card-title align="right">{{ item.title }}</ion-card-title>
        </div>
        <p></p>
        <div class="padding">
          <ion-card-subtitle align="right">
            {{ item.variant.presentmentPrices[0].price.currencyCode }}
            {{ item.variant.price }} <br>
            {{ item.variant.title }} Days 
          </ion-card-subtitle>
          <div *ngIf="item.customAttributes != null">
              <ion-card-subtitle align="right">
                <div *ngFor="let attribute of item.customAttributes">
                  {{attribute.key}}: {{attribute.value}}
                </div>
              </ion-card-subtitle>
          </div>
        </div>
        <ion-button shape="round" size="small" align="right">
          <ion-button (click)="quantityDec(item)" shape="round">
            <ion-icon name="remove-circle-outline" style="float:left"></ion-icon>
          </ion-button>
          {{item.quantity}}
          <ion-button shape="round" (click)="quantityInc(item)">
            <ion-icon name="add-circle-outline" style="float:right"></ion-icon>
          </ion-button>
        </ion-button>
        <ion-button (click)="removeItem(item)">Remove</ion-button>
      </ion-card-header>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-toolbar>
      <ion-checkbox [(ngModel)]="myBoolean" (ionChange)="change()" mode="md"></ion-checkbox>
      <ion-label>
        <a (click)="navToPopover()"><u>I Agree with the Terms & Conditions</u></a>
      </ion-label>
    </ion-toolbar>

    <ion-button *ngIf="myBoolean; else elseBlock" disabled="false" shape="round" (click)="checkout()" expand="full">
      Proceed to Checkout {{ currencyCode }} {{ totalPrice }}
    </ion-button>
    <ng-template #elseBlock>
      <ion-button disabled="true" shape="round" (click)="checkout()" expand="full">
        Proceed to Checkout {{ currencyCode }} {{ totalPrice }}
      </ion-button>
    </ng-template>
  </ion-toolbar>
</ion-footer>
