ion-button {
  --background: #CA2874;
}
ion-content{
  --ion-background-color: rgb(253, 249, 241);
}
ion-back-button {
  font-family: "Comic Sans MS";
  --color: #CA2874;
}

ion-icon{
  font-size: 200%;
  padding: 5%;
}
.swiper-slide img {
  width: auto;
  max-width: 100%;
  float: right;
  height: auto;
  max-height: 100%;
}

.border{
  border: none;
  border-color: black;
  border-width: 1px;
}

.border-active{
  border-radius: 25px;
  border: solid;
  border-color: lightblue;
  border-width: 5px;
}

.whiteClass{
    background: white;
    font-family: "Comic Sans MS";
}

.funFont { 
  font-family: "Comic Sans MS";
}

.descPadding {
  font-family: "Comic Sans MS";
  padding-left: 30px;
  padding-right: 30px;
  background: rgb(253, 249, 241);
}

.padding {
  font-family: "Comic Sans MS";
  background: rgb(253, 249, 241);
}

.bodyText {
  font-family: "Comic Sans MS";
  font-size: 24px;
}

.solid {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(241, 175, 203);
  font-family: "Comic Sans MS";
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 11px;
}

.crop {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.crop img {
  width: 100%;
  height: 100%;
  margin: -60% 0 -35% 0;
}

.toolbarLogo{
  position: relative;
  margin: auto;
  margin-left: 3%;
  padding-top: 2%;
}

.tallCrop {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tallCrop img {
  width: 100%;
  height: 100%;
  margin: -25% 0 -10% 0;
}

.brothCrop {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.brothCrop img {
  width: 100%;
  height: 100%;
  margin: -40% 0 -10% 0;
}