<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/store"></ion-back-button>
    </ion-buttons>
    <div class="toolbarLogo">
      <img src="../../../assets/banner.png" width="250" height="100">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card text-center *ngFor="let cleanse of cleanses" (click)="navToCleanse(cleanse.id)">
    <div class="crop">
      <ion-slide>
        <img src={{cleanse.images[0].src}} />
      </ion-slide>
    </div>
    <ion-card-header>
      <font face="Comic sans MS">
        <ion-card-title>{{cleanse.title}}</ion-card-title>
      </font>
    </ion-card-header>
  </ion-card>
</ion-content>