ion-content {
  --background: none;
  background-image: url('../../assets/food.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

ion-button {
  --background: #CA2874;
}

.item-content {
  background-color:#ffffff;
}

.item {
  background-color: transparent;
}

.centered {
  color: white;
  text-align: center;
  font-size: 200%;
  font-family: "Comic Sans MS";
}

.has-overlay {
  content: "";
  display: block;
  position: fixed;
  padding: 1000% 0;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.5);
}

.myOverlay {
  width: 100%;
  height: 60px;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  opacity: 0.5;
  background: #000;
  color: #fff;
}

.top {
  margin-top: 50%;
}
